.App {
  color: rgb(130, 129, 129);
  font-family: arial, sans-serif;
}
.App {
  max-width: 550px;
  max-height: 200px;
  padding: 20px;
  margin: 10px auto;
  border: 1px;
  border-color: rgb(130, 129, 129);
  border-radius: 5px;
  display: block;
  border-style: solid;
}
